<!doctype html>
<body>
  <h1>Stanza Demo Status</h1>

  <p>Current time: {{.Time}}

  <table>
    <tr>
        <th>Time started</th>
        <th>End time</th>
        <th>Duration</th>
        <th>Rate</th>
        <th>PriorityBoost</th>
        <th>Tags</th>
        <th>Weight</th>
    </tr>
    {{range .}}
    <tr>
    </tr>
    {{end}}
</table>
</body>